.homeGrid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 60px;
	padding-block: 60px;
}

.homeLink {
	font-size: 48px;
	font-family: var(--ff-heading);
	color: var(--yellow);
	transition: opacity 200ms ease;

	&:hover {
		opacity: 0.7;
	}
}

.imageCtn {
	width: 100%;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}
