@layer reset {
	html,
	body {
		margin: 0;
		padding: 0;
		background-color: var(--black);
		color: var(--white);
		font-family: var(--ff-text);
		min-height: 100vh;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--ff-heading);
	}

	h1 {
		font-size: 72px;
		text-align: center;
		color: var(--yellow);
		transform: rotateX(-30deg);

		@media screen and (max-width: 767px) {
			font-size: 32px;
		}
	}

	p a {
		border-bottom: 1px solid transparent;
		transition: all 200ms ease;
	}

	p a:hover,
	p a:focus {
		border-bottom-color: currentColor;
	}

	a {
		color: var(--grey);
		text-decoration: none;
		transition: color 200ms ease;
	}

	a:hover {
		color: var(--white);
	}

	button {
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
	}

	main {
		max-width: var(--max-width);
		padding-inline: var(--site-padding);
		margin-inline: auto;
	}
}
